:root {
  --Desaturated_Red: hsl(0, 36%, 70%);
  --Soft_Red: hsl(0, 93%, 68%);
  --Dark_Grayish_Red: hsl(0, 6%, 24%);
  --border-imput: hsl(0, 6%, 24%, .2);
  --Gradient_soft_white: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Gradient_soft_rose: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)) 
}
html { 
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;;
}
body {
  background: var(--Gradient_soft_white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.nav-container {
  width: 100%;
  height: 80px;
}
.nav-container__logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 30px;
}
.nav-container__logo {
  height: 22px;
}

.main {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  justify-content: center;
  text-align: center;
}
.main__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title-container {
  width: 250px;
  margin: 10px;
}
.main__title {
  font-size: 2.6rem;
  margin: 0;
  letter-spacing: 10px;
  color: var(--Dark_Grayish_Red);
}
.main__title span {
  font-weight: 300;
  color: var(--Desaturated_Red);
}
.main__content-container {
  margin: 0 20px;
  min-width: 280px;
}
.main_content {
  font-size: small;
  letter-spacing: 1px;
  line-height: 18px;
  margin-bottom: 36px;
  color: var(--Desaturated_Red);
}


.img-container {
  width: 100%;
  height: 30vh;
}
.img-container__source {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/hero-mobile.jpg);
}

footer { 
  width: 100%;
}
#email-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#email-container form {
  width: 80%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 25px;
  border: solid 1px var(--border-imput);
}
#email-container form:hover {
  border: solid 1px var(--Desaturated_Red);
}
.form__input {
  width: 80%;
  background-color: transparent;
  border: transparent;
  outline: none;
  color: var(--Desaturated_Red);
  font-family: 'Josefin Sans', sans-serif;;

}
.form__input::placeholder {
  color: var(--Desaturated_Red);
}
.form__button-input {
  width: 20%;
  min-width: 65px;
  position: absolute;
  right: -1px;
  height: 100%;
  border-radius: 25px;
  border: 0 transparent;
  background: var(--Gradient_soft_rose);
} 